@charset "UTF-8";
h2 {
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd95e), to(orange));
  background-image: linear-gradient(#ffd95e 0%, orange 100%);
  color: white;
  font-size: 1em;
}

h3 {
  margin: auto;
  color: #555555;
  font-size: 1em;
}

a {
  text-decoration: none;
  /* リンクの下線を消す */
}

ul {
  list-style-type: none;
  /* リストの点を消す */
  padding: 0;
  /* 左にできる隙間を消す */
  background-color: white;
}

.colRed {
  color: #ff1414;
}

body {
  margin: 0px;
  border-top: solid 8px #ffbb00;
  background-color: #f6f6f6;
}

.wrapper {
  max-width: 920px;
  margin: auto auto;
  padding: 2px 0px 0px 0px;
  font-family: Verdana, Arial, Helvetica, "meirio", "メイリオ", "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック", sans-serif;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .titleLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.top .titleInfo {
  color: #555555;
}

.top .titleInfo .text {
  font-size: 0.5em;
}

.top .titleInfo .wrapPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.62em;
  padding: 8px 0px;
}

.top .titleInfo .wrapPhone i {
  margin: auto;
  padding-right: 10px;
}

.top .titleInfo .wrapPhone .phone {
  margin: auto;
}

.top .titleInfo .openTime {
  font-size: 0.5em;
  border: solid 1px gainsboro;
  padding: 10px 20px 10px 20px;
  margin: auto;
}

.top-nav {
  padding-bottom: 5px;
}

.top-nav ul {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-nav ul li {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd95e), to(orange));
  background-image: linear-gradient(#ffd95e 0%, orange 100%);
  width: calc(920px / 5);
  border-right: solid 1px orange;
  border-left: solid 1px #ffd17c;
}

.top-nav ul li:first-child {
  border-radius: 5px 0px 0px 5px;
}

.top-nav ul li:last-child {
  border-radius: 0px 5px 5px 0px;
}

.top-nav ul li a {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 70px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px #c6ae6c;
}

.top-nav ul li .jpn {
  font-size: 0.9em;
  margin: auto;
  padding: 17px 0px 0px 0px;
}

.top-nav ul li .eng {
  font-size: 0.6em;
  margin: auto;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center .wrapSide {
  width: 260px;
  min-width: 180px;
}

.center .wrapSide .side {
  background-color: white;
  border: solid 1px orange;
  border-radius: 5px 5px 0px 0px;
  margin: 0px 0px 20px 0px;
  list-style-type: disc;
}

.center .wrapSide .side .titleSide {
  padding: 10px 15px;
  border-radius: 5px 5px 0px 0px;
}

.center .wrapSide .side .listSide {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.center .wrapSide .side .listSide li {
  background: url(../img/bgListIcon01.png) no-repeat 5px center;
  margin: 0px 10px;
  border-bottom: solid 1px orange;
  padding: 10px 0px 9px 20px;
}

.center .wrapSide .side .listSide li a {
  color: #555555;
}

.center .main {
  width: 640px;
  min-width: 640px;
}

.center .main .picMain {
  padding-bottom: 5px;
}

.center .main .infoMain {
  background-color: white;
  padding: 35px 20px;
  border-radius: 0 0 5px 5px;
}

.center .main .infoMain .titleInfo {
  border-bottom: solid orange;
  padding-bottom: 10px;
}

.center .main .infoMain .listInfo {
  color: #555555;
}

.center .main .infoMain .listInfo .wrapDtd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  border-bottom: dotted 1px #aaaaaa;
  padding-bottom: 10px;
}

.center .main .infoMain .listInfo .wrapDtd dt {
  font-size: 13px;
  font-weight: bold;
  width: 25%;
}

.center .main .infoMain .listInfo .wrapDtd dd {
  font-size: 13px;
  margin: 0px;
  width: 75%;
}

footer .wrapList {
  padding-top: 20px;
}

footer .wrapList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 0.82em;
  background-color: orange;
  border-radius: 6px;
}

footer .wrapList ul li {
  margin: 0;
  padding: 6px 5px 6px 0px;
}

footer .wrapList ul li i {
  color: white;
  font-size: 0.9em;
  padding: 0px 10px 0px 15px;
}

footer .wrapList ul li a {
  color: white;
}

footer .wrapList ul li a:hover {
  text-decoration: underline;
}

footer .wrapList .wrapInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #555555;
}

footer .wrapList .wrapInfo p {
  font-size: 0.8em;
  margin: 0;
  padding: 15px 0px 15px 8px;
}

footer .wrapList .wrapInfo .name {
  font-weight: bold;
}

footer .copy {
  font-size: 0.78em;
  color: #555555;
  text-align: center;
  margin: 0;
  border-top: solid 2px orange;
  padding: 10px 0px 20px 0px;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  /* リストの点を消す */
  margin: 0;
  padding: 0 0 12px 0;
  /* 左にできる隙間を消す */
  font-size: 0.6em;
}

.breadcrumbs ol li a {
  text-decoration: underline;
}

.breadcrumbs ol li a:hover {
  color: red;
}

.breadcrumbs ol li:after {
  content: ">";
  padding: 0 3px;
  /*左右に余白*/
}

.breadcrumbs ol li:last-child::after {
  display: none;
  /*最後の>を消す*/
}

.main {
  background-color: white;
  border-radius: 6px;
  padding-bottom: 20px;
}

.main .wrapConcept h2 {
  font-size: 1.25em;
  border: solid 1px orage;
  border-radius: 6px 6px 0px 0px;
  padding: 40px 0px 30px 20px;
}

.main .wrapConcept h3 {
  margin: 0px 20px;
  border-bottom: solid 3px orange;
  padding: 35px 0px 10px 0px;
}

.main .wrapConcept h4 {
  color: orange;
  font-size: 0.96em;
  margin: 0;
  padding: 40px 0px 10px 30px;
}

.main .wrapConcept p {
  color: #555555;
  font-size: 0.82em;
  padding: 0px 30px 0px 30px;
}

.main .wrapOpen {
  color: #555555;
  margin: 0px 20px;
}

.main .wrapOpen h3 {
  margin: 0px 0px 17px 0px;
  border-bottom: solid 3px orange;
  padding: 35px 0px 10px 0px;
}

.main .wrapOpen table {
  width: 100%;
  border-collapse: collapse;
  border-color: grey;
  font-size: 0.8em;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
}

.main .wrapOpen table tr th {
  margin: 0;
  padding: 10px;
  background-color: #cccccc;
  border: solid 1px gray;
}

.main .wrapOpen table tr td {
  margin: 0;
  padding: 10px;
  border: solid 1px gray;
}

.main .wrapOpen p {
  font-size: 0.82em;
  padding: 0px 30px 0px 0px;
}

.main .wrapOpen p span {
  font-weight: bold;
}

.main {
  background-color: white;
  border-radius: 6px;
  padding-bottom: 30px;
}

.main .wrapMedical h2 {
  font-size: 1.25em;
  border: solid 1px orage;
  border-radius: 6px 6px 0px 0px;
  padding: 40px 0px 30px 20px;
}

.main .wrapMedical h3 {
  margin: 0px 20px;
  border-bottom: solid 3px orange;
  padding: 35px 0px 10px 0px;
}

.main .wrapMedical h4 {
  color: orange;
  font-size: 0.96em;
  margin: 0;
  padding: 20px 0px 20px 20px;
}

.main .wrapMedical p {
  color: #555555;
  font-size: 0.82em;
  margin: 0;
  padding: 0px 0px 3px 20px;
}

.main .wrapMedical .blank {
  height: 20px;
}

.main {
  background-color: white;
  border-radius: 6px;
  padding-bottom: 20px;
}

.main .wrapMember h2 {
  font-size: 1.25em;
  border: solid 1px orage;
  border-radius: 6px 6px 0px 0px;
  padding: 40px 0px 30px 20px;
}

.main .wrapMember .wrapDirector {
  padding: 20px;
}

.main .wrapMember .wrapDirector h3 {
  border-bottom: solid 3px orange;
}

.main .wrapMember .wrapDirector .director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
}

.main .wrapMember .wrapDirector .director .wrapPic p {
  font-size: 0.82em;
  color: white;
  background-color: orange;
  text-align: center;
  padding: 1px;
}

.main .wrapMember .wrapDirector .director .wrapCarrier h4 {
  color: orange;
  font-size: 0.96em;
  margin: 0;
  padding: 17px 0px 17px 20px;
}

.main .wrapMember .wrapDirector .director .wrapCarrier p {
  color: #555555;
  font-size: 0.82em;
  margin: 0;
  padding: 0px 0px 3px 20px;
}

.main .wrapMember .wrapDirector .greeting h4 {
  color: orange;
  font-size: 0.96em;
  margin: 0;
  padding: 17px 0px 7px 0px;
}

.main .wrapMember .wrapDirector .greeting p {
  color: #555555;
  font-size: 0.82em;
  margin: 0;
  padding: 10px 0px 10px 0px;
  line-height: 1.7em;
}

.main .wrapMember .wrapStaff {
  padding: 10px 20px;
}

.main .wrapMember .wrapStaff h3 {
  border-bottom: solid 3px orange;
}

.main .wrapMember .wrapStaff .wrapPic {
  padding: 20px 0px;
}

.main .wrapMember .wrapStaff .nameStaff p {
  color: #555555;
  font-size: 0.82em;
  margin: 0;
  padding: 0.1em 0;
}

.main {
  background-color: white;
  border-radius: 6px;
  padding-bottom: 20px;
}

.main .wrapAccess h2 {
  font-size: 1.25em;
  border: solid 1px orage;
  border-radius: 6px 6px 0px 0px;
  padding: 40px 0px 30px 20px;
}

.main .wrapAccess .wrapMap {
  padding: 20px;
}

.main .wrapAccess .wrapMap h3 {
  padding: 15px 0px;
  border-bottom: solid 3px orange;
}

.main .wrapAccess .wrapMap .map {
  padding: 15px 0px 0px 0px;
}

.main .wrapAccess .wrapMap .link a {
  color: blue;
  font-size: 0.7em;
  text-decoration: underline;
}

.main .wrapAccess .wrapMap .line {
  margin: 10px 0px;
  border-bottom: solid 4px orange;
}

.main .wrapAccess .wrapMap .wrapUnder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .wrapAccess .wrapMap .wrapUnder .wrapInfo {
  padding-left: 20px;
}

.main .wrapAccess .wrapMap .wrapUnder .wrapInfo h4 {
  color: orange;
  font-size: 0.96em;
  margin: 0;
  padding: 17px 0px 7px 0px;
}

.main .wrapAccess .wrapMap .wrapUnder .wrapInfo p {
  color: #555555;
  font-size: 0.82em;
  margin: 0;
  padding: 10px 0px 10px 0px;
  line-height: 1.7em;
}
/*# sourceMappingURL=style.css.map */