// 変数
$MAX_WIDTH: 920px;
$FONT: Verdana, Arial, Helvetica, "meirio", "メイリオ", "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka,
  "ＭＳ Ｐゴシック", sans-serif;
$FONT_COLOR: #555555;
$GRADATION_COLOR: linear-gradient(rgb(255, 217, 94) 0%, orange 100%);

// @mixin 関数
@mixin debug($color) {
  // border: solid 1px $color;
  // margin: 2px;
  // padding: 2px;
}

// タグ名 指定
h2 {
  margin: auto;
  background-image: $GRADATION_COLOR;
  color: white;
  font-size: 1em;
}
h3 {
  margin: auto;
  color: $FONT_COLOR;
  font-size: 1em;
}

a {
  text-decoration: none; /* リンクの下線を消す */
}
ul {
  list-style-type: none; /* リストの点を消す */
  padding: 0; /* 左にできる隙間を消す */
  background-color: white;
}

// クラス指定
.colRed {
  color: rgb(255, 20, 20);
}

body {
  margin: 0px;
  border-top: solid 8px #ffbb00;
  background-color: #f6f6f6;
}
.wrapper {
  max-width: $MAX_WIDTH;
  margin: auto auto;
  padding: 2px 0px 0px 0px;
  font-family: $FONT;
}

.top {
  display: flex;
  justify-content: space-between;
  .titleLogo {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .titleInfo {
    color: $FONT_COLOR;
    .text {
      font-size: 0.5em;
    }
    .wrapPhone {
      display: flex;
      font-size: 1.62em;
      i {
        margin: auto;
        padding-right: 10px;
      }
      .phone {
        margin: auto;
      }
    }
    .openTime {
      font-size: 0.5em;
      border: solid 1px rgb(220, 220, 220);
      padding: 10px 20px 10px 20px;
      margin: auto;
    }
  }
}

.top-nav {
  // border-radius: 1%;
  ul {
    border: solid 1px #f0ca61;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    li {
      background-image: $GRADATION_COLOR;
      width: calc(#{$MAX_WIDTH} / 5);
      border-right: solid 1px (orange);
      border-left: solid 1px (rgb(255, 209, 124));
      &:first-child {
        border-radius: 5px 0px 0px 5px;
      }
      &:last-child {
        border-radius: 0px 5px 5px 0px;
      }
      a {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 70px;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 2px #c6ae6c;
      }
      .jpn {
        font-size: 0.9em;
        margin: auto;
        padding: 17px 0px 0px 0px;
      }
      .eng {
        font-size: 0.6em;
        margin: auto;
      }
    }
  }
}

.center {
  display: flex;
  justify-content: space-between;
  // 中央左のメニュー
  .wrapSide {
    width: 260px;
    min-width: 180px;
    .side {
      background-color: white;
      border: solid 1px orange;
      border-radius: 5px 5px 0px 0px;
      margin: 0px 0px 20px 0px;
      list-style-type: disc;
      .titleSide {
        padding: 10px 15px;
      }
      .listSide {
        font-size: 0.9em;
        font-weight: bold;
        margin: 0 0 20px 0;
        li {
          background: url(../img/bgListIcon01.png) no-repeat 5px center;
          margin: 0px 10px;
          border-bottom: solid 1px orange;
          padding: 10px 0px 9px 20px;
          a {
            color: $FONT_COLOR;
          }
        }
      }
    }
  }
  // 中央右のメイン
  .main {
    width: 640px;
    min-width: 640px;
    .infoMain {
      background-color: white;
      padding: 35px 20px;
      border-radius: 0 0 5px 5px;
      .titleInfo {
        border-bottom: solid orange;
        padding-bottom: 10px;
      }
      .listInfo {
        color: $FONT_COLOR;
        .wrapDtd {
          display: flex;
          margin: 10px;
          border-bottom: dotted 1px #AAAAAA;
          padding-bottom: 10px;
          dt {
            font-size: 13px;
            font-weight: bold;
            width: 25%;
          }
          dd {
            font-size: 13px;
            margin: 0px;
            width: 75%;
          }
        }
      }
    }
  }
}


footer {
  .wrapList {
    padding-top: 20px;
    ul {
      display: flex;
      margin: 0 auto;
      font-size: 0.82em;
      background-color: orange;
      border-radius: 6px;
      li {
        background: url(../images/bgFooterIcon.png) left center no-repeat;
        margin: 0;
        padding: 6px 5px 6px 0px;
        i {
          color: white;
          font-size: 0.9em;
          padding: 0px 10px 0px 15px;
        }
        a {
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .wrapInfo {
      display: flex;
      justify-content: flex-end;
      color: $FONT_COLOR;
      p {
        font-size: 0.8em;
        margin: 0;
        padding: 15px 0px 15px 8px;
      }
      .name {
        font-weight: bold;
      }
    }
  }
  .copy {
    font-size: 0.78em;
    color: $FONT_COLOR;
    text-align: center;
    margin: 0;
    border-top: solid 2px orange;
    padding: 10px 0px 20px 0px;
  }
}
