// 変数
$MAX_WIDTH: 920px;
$FONT: Verdana, Arial, Helvetica, "meirio", "メイリオ", "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka,
  "ＭＳ Ｐゴシック", sans-serif;

// @mixin 関数
@mixin debug($color) {
  // border: solid 1px $color;
  // margin: 2px;
  // padding: 2px;
}

.colRed {
  color: rgb(255, 20, 20);
}

body {
  margin: 0px;
  border-top: solid 8px #ffbb00;
}
.wrapper {
  font-family: "M PLUS Rounded 1c", sans-serif;
  max-width: $MAX_WIDTH;
  margin: auto auto;
  padding: 2px 0px 0px 0px;
}

.top {
  display: flex;
  justify-content: space-between;
  .titleLogo {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .titleInfo {
    color: gray;
    .text {
      font-size: 0.5em;
    }
    .wrapPhone {
      display: flex;
      font-size: 1.62em;
      i {
        margin: auto;
        padding-right: 10px;
      }
      .phone {
        margin: auto;
      }
    }
    .openTime {
      font-size: 0.5em;
      border: solid 1px rgb(220, 220, 220);
      padding: 10px 20px 10px 20px;
      margin: auto;
    }
  }
}

.top-nav {
  // border-radius: 1%;
  ul {
    list-style-type: none; /* リストの点を消す */
    padding: 0; /* 左にできる隙間を消す */
    border: solid 1px #f0ca61;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    li {
      @include debug(blue);
      background-image: linear-gradient(rgb(255, 217, 94) 0%, rgb(212, 173, 0) 100%);
      width: calc(#{$MAX_WIDTH} / 5);
      border-right: solid 1px (rgb(212, 178, 26));
      border-left: solid 1px (rgb(255, 220, 154));
      &:first-child {
        border-radius: 5px 0px 0px 5px;
      }
      &:last-child {
        border-radius: 0px 5px 5px 0px;
      }
      a {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 70px;
        text-decoration: none;
        font-family: $FONT;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 2px #c6ae6c;
      }
      .jpn {
        font-size: 0.9em;
        margin: auto;
        padding: 17px 0px 0px 0px;
      }
      .eng {
        font-size: 0.6em;
        margin: auto;
      }
    }
  }
}
